.overviewItem {
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 10px;
  height: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comparisonUp {
  color: #16a34a;
  background-color: #dcfce7;
  padding: 1px 5px;
  border-radius: 4px;

  &::before {
    content: '↑';
    margin-right: 4px;
  }
}

.comparisonDown {
  color: #dc2626;
  background-color: #fee2e2;
  padding: 1px 5px;
  border-radius: 4px;

  &::before {
    content: '↓';
    margin-right: 4px;
  }
}